/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'Quicksand', 'sans-serif';
}
h1,
h2,
h3,
h4,
h5 {
  color: #101010;
  text-emphasis: bolder;
}
h1 {
  font-weight: bold;
  font-size: 4.8rem;
  line-height: 60px;
}
h2 {
  font-weight: bold;
  font-size: 3.6rem;
  line-height: 45px;
  letter-spacing: 0.02em;
}
h3 {
  font-weight: bold;
  font-size: 3rem;
  line-height: 37px;
  letter-spacing: 0.02em;
}
p {
  font-size: 2.4rem;
  line-height: 30px;
  letter-spacing: 0.02em;
}
a {
  text-decoration: initial  ;
}
.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Quicksand';
  margin: 6em 4em 0;
}
@media (max-width: 500px) {
  .topnav {
    display: none;
  }
}
.topnav .signup {
  background-color: #392959;
  border-radius: 8px;
  color: white;
}
.topnav .signup:hover {
  background-color: #66499f;
}
.topnav img {
  width: 147px;
}
.topnav a {
  font-size: 1.8rem;
  padding: 11px 27px;
}
.topnav .normalbutton:hover {
  font-weight: bold;
  color: #5d5d5d;
}
footer {
  margin-bottom: 141px;
}
@media (max-width: 500px) {
  footer {
    margin-bottom: 2em;
  }
}
footer .logo {
  display: flex;
  justify-content: center;
  padding-bottom: 5em;
}
footer nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 3em;
}
@media (max-width: 500px) {
  footer nav {
    margin: 0 7em;
    justify-content: space-evenly;
  }
}
footer nav div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 500px) {
  footer nav div {
    margin: 0 7em;
    flex-flow: column;
  }
}
footer nav a {
  color: #101010;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.02em;
  padding: 2em;
}
footer nav a:hover {
  color: #5d5d5d;
}
footer p {
  font-size: 1.8rem;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #101010;
}
.topsec {
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
  margin: 2em 5em;
  margin-right: 0;
}
.topsec img {
  width: 791px;
}
@media (max-width: 500px) {
  .topsec img {
    display: none;
  }
}
@media (max-width: 500px) {
  .topsec h1 {
    font-size: 3.6rem;
    line-height: 50px;
    padding-right: 55px;
  }
}
@media (max-width: 500px) {
  .topsec p {
    font-size: 2.1rem;
    line-height: 26px;
    letter-spacing: 0.02em;
    padding: 10px 0px;
    padding-right: 150px;
  }
}
.secondsec {
  margin: 100px;
  margin-top: 20px;
}
@media (max-width: 500px) {
  .secondsec {
    margin: 60px;
  }
}
.secondsec .maindiv {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}
@media (max-width: 500px) {
  .secondsec .maindiv {
    flex-flow: column;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .secondsec .maindiv h2 {
    font-size: 2.4rem;
    line-height: 30px;
    padding-bottom: 20px;
    letter-spacing: 0.02em;
  }
}
@media (max-width: 500px) {
  .secondsec .maindiv p {
    font-size: 1.4rem;
    line-height: 20px;
  }
}
.secondsec .maindiv img {
  width: 791px;
}
.secondsec .maindiv div {
  padding: 50px;
}
@media (max-width: 500px) {
  .secondsec .maindiv .one {
    order: -1;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .secondsec .maindiv .two {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .secondsec .maindiv .three {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .secondsec .maindiv .four {
    order: 2;
    width: 100%;
  }
}
.thirdsec {
  padding-bottom: 12em;
}
.thirdsec h3 {
  padding-bottom: 12em;
  text-align: center;
}
.thirdsec img {
  width: 100%;
}
@media (max-width: 500px) {
  .thirdsec #desktopHomeimg {
    display: none;
  }
}
.thirdsec #mobileHomeimg {
  display: none;
}
@media (max-width: 500px) {
  .thirdsec #mobileHomeimg {
    display: initial;
  }
}
.fourthsec {
  padding-bottom: 6em;
}
.fourthsec .maindiv {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 500px) {
  .fourthsec .maindiv {
    flex-flow: column;
  }
}
.fourthsec .maindiv div {
  display: flex;
  flex-flow: column;
  align-items: center;
}
@media (max-width: 500px) {
  .fourthsec .maindiv div {
    padding-bottom: 50px;
  }
}
.fourthsec .maindiv div img {
  padding: 10px;
}
.fourthsec .maindiv p {
  font-weight: bold;
  font-size: 2.1rem;
  line-height: 26px;
  letter-spacing: 0.02em;
}
.fourthsec h2 {
  padding-bottom: 70px;
  text-align: center;
}
.button {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.button a {
  background-color: #392959;
  border-radius: 8px;
  font-size: 2.1rem;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 20px 241px;
}
.button a:hover {
  background-color: #66499f;
}
@media (max-width: 500px) {
  .button a {
    padding: 11px 81px;
  }
}
