#mobileImg1 {
    display: none;
    @media(max-width: 500px) {
       display: flex;
       margin: 0 auto;
       padding-top: 6em;
    }
}

section {
    margin: 168px;
    font-size: 2.1rem;
line-height: 30px;
/* or 143% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.02em;

#mobileP {
    display: none;
}

@media(max-width: 500px) {
    margin: 4em;
    font-size: 1.6rem;
    text-align: start;
   #mobileP {
       display: initial;
       font-size: 1.4rem;
       line-height: 25px;
       

   }
   #desktopP {
       display: none;
   }
}
}

.mobileImg2 {
    display: none;
    @media(max-width: 500px) {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    img {
        margin-bottom: 6em;
    }
    a {
        background-color: @Xdark;
        border-radius: 8px;
        color: white;
        padding:  10px 57px;
        margin: 6em 0;

         &:hover {
            background-color: lighten(@Xdark, 20%);
        }
    }
}

.maindiv {
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
    padding: 0 214px 214px;

    @media(max-width: 500px) {
        padding: 0  10px 100px;
    }

    div {
        display: flex;
        flex-flow: column;
        align-items: center;

        img {
            padding: 10px 10px;
           
    }

    p {
        font-weight: bold;
        font-size: 2.1rem;
        line-height: 26px;
        letter-spacing: 0.02em;
    }
}
    
    

    .job {
        width: 100%;
        

        p {
            padding-top: 1em;
            font-weight: normal;
            font-size: 1.8rem;
            line-height: 30px;
            /* identical to box height, or 167% */

            display: flex;
            align-items: center;
            letter-spacing: 0.02em;

            color: #000000;
            
        }
    }
}