#mobileImg1 {
    display: none;
    @media(max-width: 500px) {
       display: flex;
       margin: 0 auto;
       padding-top: 64px;
    }
}

section {
    margin: 168px;
    font-size: 21px;
line-height: 30px;
/* or 143% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.02em;

#mobileP {
    display: none;
}

@media(max-width: 500px) {
    margin: 45px;
    text-align: initial;
   #mobileP {
       display: initial;

   }
   #desktopP {
       display: none;
   }
}
}

.maindiv {
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
    padding: 0 214px 214px;

    @media(max-width: 500px) {
        padding: 10px;
    }

    div {
        display: flex;
        flex-flow: column;
        align-items: center;

        img {
            padding: 10px 10px;
           
    }

    p {
        font-weight: bold;
        font-size: 21px;
        line-height: 26px;
        letter-spacing: 0.02em;
    }
}
    
    

    .job {
        width: 100%;
        

        p {
            padding-top: 20px;
            font-weight: normal;
            font-size: 18px;
            line-height: 30px;
            /* identical to box height, or 167% */

            display: flex;
            align-items: center;
            letter-spacing: 0.02em;

            color: #000000;
            
        }
    }
}