footer {
    margin-bottom: 30px;

    .logo {
        display: flex;
        justify-content: center;
        padding-bottom: 50px;
    }

    nav{
        display: flex;
        justify-content: space-evenly;
        margin: 0 200px;
        margin-bottom: 30px;
        

            a {
            color: @black;
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            letter-spacing: 0.02em;

            &:hover {
                color: lighten(@black, 30%)
            }
        }
    }
    

    p {
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        letter-spacing: 0.02em;
        color: @black;
    }
}