* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    font-family: 'Quicksand';
    font-style: normal;
    
  } 

  // .container {
  //   margin: 20px;
  // }

  h1, h2, h3, h4, h5 {
    color: @black;
    text-emphasis: bolder;
  }

  h1 {
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;

  }
  
  h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.02em;
  }
  
  h3 {
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.02em;
  }
  
  p {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.02em;
  }
  

  a {
    text-decoration: none;
  }
 