.topsec {
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
    margin: @margin;
    margin-right: 0;

    img {
        width: 791px;
    }
}

.secondsec {
    margin: 100px;
    margin-top: 20px;

    .maindiv {
        display: flex;
        justify-content: space-between;
        padding-bottom: 50px;
        img {
            width: 791px;
        }

        div {
            padding: 50px;
        }
    }
}

.thirdsec {
    padding-bottom: 150px;
    h3 {
        padding-bottom: 150px;
        text-align: center;
    }

    img {
        width: 100%;
    }
}

.fourthsec {
    padding-bottom: 70px;

    
    .maindiv {
        display: flex;
        justify-content: space-evenly;
        
        div {
            display: flex;
            flex-flow: column;
            align-items: center;

            img {
                padding: 10px;
            }
        }

        p {
            font-weight: bold;
            font-size: 21px;
            line-height: 26px;
            letter-spacing: 0.02em;
        }
    }

    h2 {
        padding-bottom: 70px;
        text-align: center;
    }

}
.button {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
        a {
        background-color: @Xdark;
        border-radius: 8px;
        font-size: 21px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: uppercase;

        color: #FFFFFF;
        padding: 20px 241px;
            

            &:hover {
                background-color: lighten(@Xdark, 20%);
            }
    }
}



