.topsec {
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
    margin: @margin;
    margin-right: 0;

    img {
        width: 791px;
    }
}

.secondsec {
    margin: 100px;
    margin-top: 20px;

    .maindiv {
        display: flex;
        justify-content: space-between;
        padding-bottom: 50px;
        img {
            width: 791px;
        }

        div {
            padding: 50px;
        }
    }
}

.thirdsec {
    padding-bottom: 150px;
    h3 {
        padding-bottom: 150px;
        text-align: center;
    }

    img {
        width: 100%;
    }
}

.fourthsec {
    
    .maindiv {
        display: flex;
        justify-content: space-evenly;
        
        div {
            align-items: center;
        }

        p {
            font-weight: bold;
            font-size: 21px;
            line-height: 26px;
            letter-spacing: 0.02em;
        }
    }

    h2 {
        text-align: center;
    }

}